VITE_FIREBASE_API_KEY=AIzaSyAiImsmqrL_MpzENLQSNEzDUiZNIzyO0Q4
VITE_FIREBASE_AUTH_DOMAIN=chat-real-time-7cdeb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chat-real-time-7cdeb
VITE_FIREBASE_STORAGE_BUCKET=chat-real-time-7cdeb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=153254743721
VITE_FIREBASE_APP_ID=1:153254743721:web:810e46761f060c567063b8
VITE-FIREBASE_MEASUREMENT_ID=G-G-99RYF4FZ54
